@media (max-width: 1200px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
		top: 0;
		border-width: 0 0 1px;
	}
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
		margin-top: 7.5px;
	}
	.navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
  		display:block !important;
	}
}



/* Nav styles */

ul.nav {
    font-size: 85%;
}

/* Hero Section */

.form .hero-section {
    background-color: white;
    
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
}

@media screen and (min-width: 1200px){
    .form .hero-section {
        background-image: url(../Content/Images/shutterstock_128908427_edit_B-3_B.png);
    }
}

/*@media screen and (min-width: 992px) and (max-width: 1200px){
    .form .hero-section {
        background-image: url(../Content/Images/top-header-md.jpg);
    }
}*/

/* Carousel styles */

.percentage {
    font-size: 11px;
}

#ten {
    font-size: 100px;
}

#rating {
    font-size: 10px;
    left: 210px;
    position: absolute;
}

#sixteen {
    font-size: 70px;
}

#experience, #drawdown, #cust, #weare, #providers {
    font-size: 10px;
    text-align: center;
    height: 0;
    padding-left: 25px;
    margin-bottom: 10px;
    margin-top: 0;
}

#experience {
    padding-top: 10px;
}

#seventy {
    font-size: 80px;
}

.full {
    font-size: 37px;
}

/* Pricing Section styles */

.pricing-details p {
    margin-bottom: 15px;
}

/* Contact Us styles */

.name {
    margin-bottom: 0;
}

.pricing-details h3 {
    margin-bottom: 20px
}

.photo {
    padding: 40px 40px 30px 40px;
}

.photo img {
    width: 100px;
    height: 100px;
}

/* intro sub */
.intro-sub {
	background: linear-gradient(to right, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7));
	padding: 100px 0 100px 0;
}

.intro-sub .sub-inner {
	max-width: 500px;
	float: left;
}

.intro-sub p {
    color: #FFF;
}

/* Feature Sub */
.sub-inner.wide {
    max-width: 700px;
}

.sub-inner.wide h1 {
    font-size: 35px;
}

@media screen and (max-width: 992px){
    .app-features .feature-single p {
        max-width: 350px;
        margin: 0 auto;
        display: block;
    }
}

/* Case Study sub */
.case-study-sub  {
	background: linear-gradient(to right, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.6)), url(../Content/Images/shutterstock_303161579.jpg) no-repeat left;
	padding: 0px 0 0px 0;
}

.case-study-sub .sub-inner {
    float: right;
}

.case-study-sub h2 {
    font-size: 18px;
    font-weight: 400;
    color: #222222;
    margin: 20px 0 10px 0;
    letter-spacing: 1px;
}

.case-study-sub p {
    font-family: Poppins;
    font-size: 14px;
    color: #FFFFFF;
    line-height: 1.4;
    margin: 10px 0 0 0;
}

@media screen and (min-width: 1200px){
    .case-study-sub .case-wide {
        max-width: 600px;
    }
}

/* Review/News Section */
.review-section {
    padding: 80px 0 80px 0;
}

.review-single p.bottom-paragraph {
    margin-bottom: 35px;
}

/* Footer */
.footer {
    background-color: #0A2F73;
    color: white;
}

.footer .btn-action, .footer .btn-action:hover {
    background-color: white;
    color: #3E5660;
}

.footer h1 {
    margin-bottom: 10px;
    color: white;
}

.footer h2 {
    margin-top: 10px;
    color: white;
}

.footer p {
    color: white;
}

.footer a {
    color: white;
}

.copyright {
    margin-top: 20px;
}

.feature-single {
    min-height: 104px;
}