<div class="main app form" id="main">
    <!-- Main Section-->
    <div class="hero-section">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    
                </div>
                <div class="col-md-7">
                    <div class="hero-content">
                        <h1 class="wow fadeInUp" data-wow-delay="0.1s">Pensions are different. <br /> So are we. So are you.</h1>
                        <p class="wow fadeInUp" data-wow-delay="0.2s">
                            If you believe that all workplace pensions are the same and that they all lead to the same result, think again. A different approach could unlock the real potential of your workplace pension.
                        </p>
                        <p class="wow fadeInUp" data-wow-delay="0.2s">
                            Contact our team to find out more
                        </p>
                        <a href="#contact" class="btn btn-action wow fadeInUp">Request call back</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="app-features text-center" id="benefits">
        <div class="container">
            <h1 class="wow fadeInDown" data-wow-delay="0.1s">10 Benefits of an Integrated Solution from Standard Life</h1>
            <p class="wow fadeInDown" data-wow-delay="0.2s">
                A workplace pension solution from Standard Life can support you in improving engagement, creating efficiencies and delivering enhanced value to both your company and your employees.
                We deliver integrated solutions that can be tailored to your business - its needs and its employees.<br/>
                There are ten benefits for you to consider when looking at an integrated pension solution:
            </p>
            <div class="row">
                <div class="col-md-4 features-left">
                    <div class="row">
                        <div class="col-md-12 wow fadeInDown" data-wow-delay="0.2s">
                            <div class="icon">
                                <i class="ion-person"></i>
                            </div>
                            <div class="feature-single">
                                <h1>1. One point of contact</h1>
                                <p>
                                    Your Client Relationship Director will coordinate all the aspects of your reward package and will act as your direct link to our experts across the business.
                                </p>
                            </div>
                        </div>
                        <div class="col-md-12 wow fadeInDown" data-wow-delay="0.3s">
                            <div class="icon">
                                <i class="ion-ios-locked"></i>
                            </div>
                            <div class="feature-single">
                                <h1>3. Reduced risks</h1>
                                <p>
                                    Increased visibility, transparency and reliability with no need to integrate multiple external interfaces, reducing the risk of errors significantly.
                                </p>
                            </div>
                        </div>
                        <div class="col-md-12 wow fadeInDown" data-wow-delay="0.4s">
                            <div class="icon">
                                <i class="ion-ios-search-strong"></i>
                            </div>
                            <div class="feature-single">
                                <h1>5. Strong data governance </h1>
                                <p>
                                    Through exploration of your scheme’s data and trends, our tools will support decision-making and propose the ‘next best actions’ to take.
                                </p>
                            </div>
                        </div>
                        <div class="col-md-12 wow fadeInDown" data-wow-delay="0.4s">
                            <div class="icon">
                                <i class="ion-email"></i>
                            </div>
                            <div class="feature-single">
                                <h1>7. Consistent message</h1>
                                <p>
                                    Our Communications Specialists use data analytics, demographic segmentation and digital design to ensure that we send out the right messages to the right people at the right time.
                                </p>
                            </div>
                        </div>
                        <div class="col-md-12 wow fadeInDown" data-wow-delay="0.4s">
                            <div class="icon">
                                <i class="ion-android-happy"></i>
                            </div>
                            <div class="feature-single">
                                <h1>9. Enhanced Experience</h1>
                                <p>
                                    An end-to-end journey is managed entirely by our platform. Our road map is designed based on your individual company needs and feedback.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 wow fadeInDown" data-wow-delay="0.5s">
                    <img class="img-responsive" src="~/Content/Images/iphone.png" alt="App" />
                </div>

                <div class="col-md-4 features-left">
                    <div class="row">
                        <div class="col-md-12 wow fadeInDown" data-wow-delay="0.6s">
                            <div class="icon">
                                <i class="ion-filing"></i>
                            </div>
                            <div class="feature-single">
                                <h1>2. Integrated view</h1>
                                <p>
                                    Storing all information in one place, providing a complete overview of your reward strategy and its performance so you can identify opportunities easily.
                                </p>
                            </div>
                        </div>
                        <div class="col-md-12 wow fadeInDown" data-wow-delay="0.7s">
                            <div class="icon">
                                <i class="ion-ios-pulse-strong"></i>
                            </div>
                            <div class="feature-single">
                                <h1>4. Dynamic management</h1>
                                <p>
                                    You will be delivered real time management information to help inform and enhance decision-making and direction.
                                </p>
                            </div>
                        </div>
                        <div class="col-md-12 wow fadeInDown" data-wow-delay="0.8s">
                            <div class="icon">
                                <i class="ion-ios-timer"></i>
                            </div>
                            <div class="feature-single">
                                <h1>6. Less work, more impact</h1>
                                <p>
                                    Direct interfaces with other systems such as payroll, HR and your company intranet, enable us to deliver an intuitive and efficient solution.
                                </p>
                            </div>
                        </div>
                        <div class="col-md-12 wow fadeInDown" data-wow-delay="0.8s">
                            <div class="icon">
                                <i class="ion-load-b"></i>
                            </div>
                            <div class="feature-single">
                                <h1>8. Value Attribution</h1>
                                <p>
                                    Increases the perceived value of employee benefits by offering members a holistic view of their total reward package.
                                </p>
                            </div>
                        </div>
                        <div class="col-md-12 wow fadeInDown" data-wow-delay="0.8s">
                            <div class="icon">
                                <i class="ion-arrow-graph-down-right"></i>
                            </div>
                            <div class="feature-single">
                                <h1>10. Spend Control</h1>
                                <p>
                                    Having all in one place reduces the need for external support and therefore reduces the need to pay extra fees and charges.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="pitch text-center" id="whychoose">
        <div class="container">
            <div class="pitch-intro">
                <h1 class="wow fadeInDown" data-wow-delay="0.2s">Why Choose Standard Life?</h1>
                <p class="wow fadeInDown" data-wow-delay="0.2s">
                    Quality and expertise don’t just happen overnight. We have been gaining experience since 1825. We’ve taken our time to listen to clients; to understand their challenges and their evolving needs, and have tailored our solutions to provide better outcomes for them and their employees.
                    We are proud that pensions continue to remain at the heart of Standard Life’s business, and that companies like yours can offer enhanced benefits to their members because of them. <br />
                    Which is why we have won over 15 awards in the last 2 years and launched 8 industry-firsts.<br />
                    <br />
                    We believe we’re uniquely positioned in the market to deliver both integrated solutions and customisation at the same time, helping you achieve operational efficiency without compromising on quality or long term service experience.

                </p>
            </div>
            <div class="row">
                <div class="col-md-4 wow fadeInDown" data-wow-delay="0.2s">
                    <div class="pitch-icon">
                        <i class="ion-ios-gear"></i>
                    </div>
                    <div class="pitch-content">
                        <h1>Integrated Solutions</h1>
                        <p>
                            From our master trust schemes and targeted communications, to our digital tools, online support and financial advice, we provide full support to both you and your people through our customised integrated solutions.
                        </p>
                    </div>
                </div>
                <div class="col-md-4 wow fadeInDown" data-wow-delay="0.2s">
                    <div class="pitch-icon">
                        <i class="ion-android-create"></i>
                    </div>
                    <div class="pitch-content">
                        <h1>Customisable</h1>
                        <p>
                            We get to know you better so you get exactly what your business needs. We work with you to create tailored integrated solutions that are valued by your employees and business, and sustainable in the long term.
                        </p>
                    </div>
                </div>
                <div class="col-md-4 wow fadeInDown" data-wow-delay="0.2s">
                    <div class="pitch-icon">
                        <i class="ion-checkmark"></i>
                    </div>
                    <div class="pitch-content">
                        <h1>Expertise</h1>
                        <p>
                            As specialists in looking after large companies with complex workforce needs like yours, our solutions bring together the very best people, products and technology in market. We can provide you with award winning support and guidance every step of the way.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

<div class="feature-sub">
        <div class="container">
            <div class="sub-inner">
                <h1 class="wow fadeInUp">For more information on our fully integrated solutions, download our information pack</h1>
                <a href="#" class="btn btn-action wow fadeInUp">Download</a>
            </div>
        </div>
    </div>

    <!-- News Section -->
    <div id="news" class="review-section">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <h1 class="wow fadeInDown" data-wow-delay="0.1s">More Information</h1>

                    <div class="reviews owl-carousel owl-theme">
                        <div class="review-single">
                            <div class="review-text wow fadeInDown" data-wow-delay="0.2s">
                                <h3>Industry benchmarking</h3>
                                <p>Do other employers offer more than you?</p>
                                <p class="bottom-paragraph">Find out how competitive your pension benefit really is.</p>
                                <a href="#" class="btn btn-action wow fadeInUp">Download</a>
                            </div>
                        </div>
                        <div class="review-single">
                            <div class="review-text wow fadeInDown" data-wow-delay="0.2s">
                                <h3>Thought Leadership</h3>
                                <p>Workplace pensions are one of your biggest benefit costs.</p>
                                <p class="bottom-paragraph">Find out how much employees really value them from our recent research.</p>
                                <a href="#" class="btn btn-action wow fadeInUp">Download</a>
                            </div>
                        </div>
                        <div class="review-single">
                            <div class="review-text wow fadeInDown" data-wow-delay="0.2s">
                                <h3>Case Study</h3>
                                <p>Our workplace pensions can drive value for your business and its employees, as well as helping you to achieve your broader goals.</p>
                                <p class="bottom-paragraph">Learn how we’ve helped companies like yours.</p>
                                <a href="#" class="btn btn-action wow fadeInUp">Download case studies</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div id="contact" class="pricing-section text-center">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="pricing-intro">
                        <h1 class="wow fadeInDown" data-wow-delay="0s">Contact Us</h1>
                        <p class="wow fadeInDown" data-wow-delay="0.2s">
                            If you'd like more information on a customised fully integrated solution, <br/> contact one of our team and they will be happy to assist.
                        </p>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="table-left wow fadeInDown" data-wow-delay="0.4s">
                                <div class="photo">
                                    <img src="~/Content/Images/TeamPhotos/Martin.png" alt="Martin Trenchard" />
                                </div>
                                <div class="pricing-details">
                                    <h2 class="name">Martin Trenchard</h2>
                                    <h3>Head of Corporate Relationships</h3>
                                    <p>
                                        <a href="mailto:martin.trenchard@standardlife.com">Email</a><br />
                                        0207 868 5832
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="table-left wow fadeInDown" data-wow-delay="0.4s">
                                <div class="photo">
                                    <img src="~/Content/Images/TeamPhotos/Simon.png" alt="Martin Trenchard" />
                                </div>
                                <div class="pricing-details">
                                    <h2 class="name">Simon Davies</h2>
                                    <h3>Corporate Relations</h3>
                                    <p>
                                        <a href="mailto:simon.davies@standardlife.com">Email</a><br />
                                        020 7872 4192
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="table-left wow fadeInDown" data-wow-delay="0.4s">
                                <div class="photo">
                                    <img src="~/Content/Images/TeamPhotos/Gordon.png" alt="Martin Trenchard" />
                                </div>
                                <div class="pricing-details">
                                    <h2 class="name">Gordon Thomson</h2>
                                    <h3>Corporate Relations</h3>
                                    <p>
                                        <a href="mailto:gordon.thomson@standardlife.com">Email</a><br />
                                        0131 245 5456
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 col-sm-offset-2">
                            <div class="table-left wow fadeInDown" data-wow-delay="0.4s">
                                <div class="photo">
                                    <img src="~/Content/Images/TeamPhotos/Trevor.png" alt="Martin Trenchard" />
                                </div>
                                <div class="pricing-details">
                                    <h2 class="name">Trevor Power</h2>
                                    <h3>Corporate Relations</h3>
                                    <p>
                                        <a href="mailto:trevor.power@standardlife.com">Email</a><br />
                                        07595 465042
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="table-left wow fadeInDown" data-wow-delay="0.4s">
                                <div class="photo">
                                    <img src="~/Content/Images/TeamPhotos/Patrick.png" alt="Martin Trenchard" />
                                </div>
                                <div class="pricing-details">
                                    <h2 class="name">Patrick Granger</h2>
                                    <h3>Corporate Relations</h3>
                                    <p>
                                        <a href="mailto:patrick.granger@standardlife.com">Email</a><br />
                                        0131 246 2970
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer Section -->
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <p class="copyright">© 2017 Standard Life</p>
                </div>
                <div class="col-md-2 col-md-offset-6">
                    <div class="contact text-center">
                        <button type="button" class="btn btn-action wow fadeInUp" data-toggle="collapse" data-target="#footerDetails">Website Brand & Provider Details</button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10 col-md-offset-1 collapse" id="footerDetails">
                    <h1>Website Brand & Provider Details</h1>

                    <h2>Standard Life Investments</h2>
                    <p>Standard Life Investments Limited is registered in Scotland (SC123321) at 1 George Street, Edinburgh EH2 2LL. </p>
                    <p>Standard Life Investments Limited is authorised and regulated by the Financial Conduct Authority. </p>
                    <p><a href="http://www.standardlifeinvestments.com">www.standardlifeinvestments.com</a></p>
                    
                    <h2>56°</h2>
                    <p>56° is a brand used by Standard Life Assurance Limited. Standard Life Assurance Limited is registered in Scotland (SC286833) at Standard Life House, 30 Lothian Road, Edinburgh EH1 2DH.</p>
                    <p>Standard Life Assurance Limited is authorised by the Prudential Regulation Authority and regulated by the Financial Conduct Authority and the Prudential Regulation Authority. </p>
                    <p><a href="http://www.standardlife.co.uk">www.standardlife.co.uk</a></p>
                    
                    <h2>1825</h2>
                    <p>1825’ is a trading name used by Pearson Jones plc, which is part of the Standard Life group (Standard Life plc and its subsidiaries).</p>
                    <p>Pearson Jones plc (01447544) is registered in England at 30 St Mary Axe, London EC3A 8BF and is authorised and regulated by the Financial Conduct Authority.</p>
                    <p><a href="http://www.1825.com">www.1825.com</a></p>
                    
                    <h2>Standard Life Assurance</h2>
                    <p>Standard Life Assurance Limited is registered in Scotland (SC286833) at Standard Life House, 30 Lothian Road, Edinburgh EH1 2DH.</p>
                    <p>Standard Life Assurance Limited is authorised by the Prudential Regulation Authority and regulated by the Financial Conduct Authority and the Prudential Regulation Authority.</p>
                    
                    <h2>Vebnet Limited</h2>
                    <p>Vebnet Limited is an appointed representative of Standard Life Client Management Limited in relation to the administration of insurance contracts. Standard Life Client Management Limited is authorised and regulated by the Financial Conduct Authority. Vebnet Limited (SC207389) and Standard Life Client Management Limited (SC193444) are both part of Standard Life group (Standard Life plc and its subsidiaries) and are registered in Scotland at Standard Life House, 30 Lothian Road, Edinburgh EH1 2DH.</p>
                    <p><a href="http://www.standardlife.co.uk">www.standardlife.co.uk</a></p>
                </div>
            </div>
        </div>
    </div>

    <!-- Scroll To Top -->

    <a id="back-top" class="back-to-top page-scroll" href="#main">
        <i class="ion-ios-arrow-thin-up"></i>
    </a>

    <!-- Scroll To Top Ends-->

</div><!-- Main Section -->